* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 400px;
  padding: 20px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.header-text {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 20px;
  color: #acabab;
}

main {
  width: 840px;
  margin: 50px auto;
}

.main-box {
 width: 840px;
 padding: 50px auto;
 display: inline-block;
 justify-content: center;
}

.main-item {
  width: 840px;
  margin: 30px 0;
  border-bottom: 3px solid #f7f7f7;
  text-align: center;
}

.main-item-text {
  margin-bottom: 30px;
}